<div>
<h1 class="panel panel-default">
  <div class="panel-heading"><%= @registered_application.name %></div>
</h1>
<small>URL: <%= @registered_application.url %> | You've been tracking this app since <%= time_ago_in_words(@registered_application.created_at) %> ago.</small>
</div>

<div class="row">
  <div class="col-md-8">
    <h4 class="page-header">Proportional frequency of events</h4>
    <%= pie_chart @registered_application.events.group(:name).count %>
    <h4 class="page-header">Event frequency over time</h4>
    <%= line_chart @registered_application.events.group(:name).group_by_month(:created_at).count %>
  </div>

  <div class="col-md-4 text-center">
    <%= link_to "Edit App Details?", edit_registered_application_path(@registered_application), class: 'btn btn-success btn-lg' %>
    <ul class="list-group">
    <% @events.each do |k,v| %>
      <li class="list-group-item list-group-item-info"><strong><%= k %>:</strong>  has happened  <em><%= v.count %></em>  times</li>
    <% end %>
    </ul>
  </div>
</div>
